.container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.shield {
    width: 160px;
    height: 200px;
    position: relative;
}

.icon {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.icon2 {
    position: absolute;
    width: 80%;
    height: 80%;
    top: 8%;
    left: 10%;
}

.title h1 {
    font-size: 3rem;
}

.title h2 {
    font-size: 3rem;
}

.price {
    font-size: 3.5rem;
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    position: absolute;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, .3);
    padding: 20px;
}