.wrapper {
    position: absolute;
    width: 300px;
    height: 300px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow: visible;
    left: calc(50% - 150px);
    top: calc(50% - 150px);
}

.circle {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #63C5AB;
}
